<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>Shiro Configuration</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="shiroSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroCustomRealm" />
		<property name="cacheManager" ref="shiroCacheManager" />
		<!-- sessionManager -->
		<property name="sessionManager" ref="shiroSessionManager"></property>
		<property name="rememberMeManager" ref="rememberMeManager" />
	</bean>

	<!-- 項目自定义的Realm -->
	<bean id="shiroCustomRealm" class="com.ly.base.shiro.ShiroCustomRealm">
		<property name="cacheManager" ref="shiroCacheManager" />
	</bean>

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="shiroSecurityManager" />
		<!-- <property name="loginUrl" value="/index.jsp" /> -->
		<property name="loginUrl" value="/src/login.html" />
		<property name="successUrl" value="/src/index.html" />
		<property name="unauthorizedUrl" value="/error/noperms.html" />
		<property name="filterChainDefinitions">
			<value>
				/src/js/** = anon
				/src/css/** = anon
				/src/images/** = anon
				/src/error/** = anon
				/src/fonts/** = anon
				/sysUser/login = anon
				/captcha/kaptcha = anon
				/src/login.html = anon
				/src/project/index.html = anon
				/**/*.html = authc
			</value>
		</property>
	</bean>

	<!-- 用户授权信息Cache -->
	<bean id="shiroCacheManager" class="com.ly.base.shiro.ShiroCacheManager">
		<!-- <property name="redisClientSupport" ref="redisClientSupport" /> -->
	</bean>
	<!-- 为SecurityUtils设置securityManager -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="shiroSecurityManager" />
	</bean>
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- AOP式方法级权限检查 -->
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="false" />
	</bean>

	<!-- 开启shiro注解支持 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="shiroSecurityManager" />
	</bean>
	<!-- rememberMeManager管理器，写cookie，取出cookie生成用户信息 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	<!-- 记住我cookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!-- rememberMe是cookie的名字 -->
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<!-- 记住我cookie生效时间30天 -->
		<property name="maxAge" value="2592000" />
	</bean>
	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>
	<!-- sessionManager -->
	<!-- Session定时检查器 -->
	<bean id="sessionValidationScheduler"
		class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler"></bean>
	<bean id="shiroSessionDAO" class="com.ly.base.shiro.dao.ShiroSessionDAO"></bean>
	<bean id="sessionListeners" class="com.ly.base.shiro.listener.ShiroSessionListener"></bean>
	<!-- session管理器 -->
	<bean id="shiroSessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionListeners" ref="sessionListeners"></property>
		<property name="globalSessionTimeout" value="3600000" />
		<property name="deleteInvalidSessions" value="true" />
		<property name="sessionValidationSchedulerEnabled" value="true" />
		<property name="sessionValidationInterval" value="3600000" />
		<property name="sessionValidationScheduler" ref="sessionValidationScheduler" />
		<property name="sessionDAO" ref="shiroSessionDAO" />
		<property name="sessionIdCookieEnabled" value="true" />
		<property name="sessionIdCookie" ref="sessionIdCookie" />
	</bean>

</beans>