<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
  <setting name="cacheEnabled" value="true"/>
  <setting name="lazyLoadingEnabled" value="true"/>
  <setting name="multipleResultSetsEnabled" value="true"/>
  <setting name="useColumnLabel" value="true"/>
  <setting name="useGeneratedKeys" value="false"/>
  <setting name="autoMappingBehavior" value="PARTIAL"/>
  <setting name="defaultExecutorType" value="SIMPLE"/>
  <setting name="defaultStatementTimeout" value="25"/>
  <setting name="safeRowBoundsEnabled" value="false"/>
  <setting name="mapUnderscoreToCamelCase" value="false"/>
  <setting name="localCacheScope" value="SESSION"/>
  <setting name="jdbcTypeForNull" value="OTHER"/>
  <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
  <setting name="logImpl" value="SLF4J" />
</settings>
<typeAliases>
<!-- 	<typeAlias alias="SysUser" type="com.ly.base.core.model.sys.SysUser" /> -->
<!-- 	<typeAlias alias="SysMenu" type="com.ly.base.core.model.sys.SysMenu" /> -->
<!-- 	<typeAlias alias="SysRole" type="com.ly.base.core.model.sys.SysRole" /> -->
<!-- 	<typeAlias alias="SysAccount" type="com.ly.base.core.model.sys.SysAccount" /> -->
	<!-- Log -->
<!-- 	<typeAlias alias="LogLogin" type="com.ly.base.core.model.log.LogLogin" /> -->
<!-- 	<typeAlias alias="LogOperater" type="com.ly.base.core.model.log.LogOperater" /> -->
</typeAliases>
</configuration>
